.table {
    width: 100%;
    border-collapse: collapse;
}
.table__row {
    border-bottom: 1px solid #DAD9D6;
}
.table__category {
    width: 315px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: #181A3F;
    vertical-align: top;
    padding-top: 76px;
    padding-bottom: 64px;
}
.table__span {
    color: #D9D8D5;
}
.table__data {
    padding-top: 64px;
    padding-bottom: 58px;
}
.table__title {
    font-size: 38px;
    line-height: 50px;
    color: #181A3F;
    margin: 0;
}
.table__descreption {
    width: 618px;
    margin: 0;
    padding-top: 20px;
}